#SplashView{
  position:absolute;
  top:0;
  left:0;
  width: 810px;
  height: 850px;
  background: #858e99; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1OGU5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2FmYzRkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2EzYjhjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMGQ1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #858e99 0%, #afc4d6 53%, #a3b8c9 55%, #c0d5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#858e99), color-stop(53%,#afc4d6), color-stop(55%,#a3b8c9), color-stop(100%,#c0d5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #858e99 0%,#afc4d6 53%,#a3b8c9 55%,#c0d5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #858e99 0%,#afc4d6 53%,#a3b8c9 55%,#c0d5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #858e99 0%,#afc4d6 53%,#a3b8c9 55%,#c0d5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #858e99 0%,#afc4d6 53%,#a3b8c9 55%,#c0d5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858e99', endColorstr='#c0d5e5',GradientType=0 ); /* IE6-8 */


  .start-button a{
    font-family: 'Arvo', serif;
    font-weight: 700;
    font-size: 25px;
    font-weight: bold;
    position:absolute;
    bottom:50px;
    left:40%;
    display:block;
    width:150px;
    height:150px;
    line-height:155px;
    text-align: center;
    text-decoration: none;
    color:#c1c1c1;
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #cccccc);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        to(#cccccc));
    border: 2px solid #fafafa;
    -moz-box-shadow:
      0px 1px 3px rgba(000,000,000,0.5),
      inset 0px 0px 2px rgba(255,255,255,0.7);
    -webkit-box-shadow:
      0px 1px 3px rgba(000,000,000,0.5),
      inset 0px 0px 2px rgba(255,255,255,0.7);
    box-shadow:
      0px 1px 3px rgba(000,000,000,0.5),
      inset 0px 0px 2px rgba(255,255,255,0.7);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.4),
      0px 1px 0px rgba(255,255,255,0.3);
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 6px rgba(50, 50, 50, 1);
    -moz-box-shadow:    1px 1px 6px rgba(50, 50, 50, 1);
    box-shadow:         1px 1px 6px rgba(50, 50, 50, 1);
  }

  #center-container {
    position: absolute;
    top:0px;
    left:0px
  }

  #center-container img {
    position: absolute;
    top:0px;
    left:0px
  }

  #center-container #title {
    margin: 175px 0 0 182px;
    position: absolute;
    display:block;
  }

  #center-container #monsterHolder{
    position: absolute;
    display: block;
  }
}

