/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 52, ../sass/_normalize.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 66, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 76, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, ../sass/_normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 96, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 105, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 118, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 127, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 136, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 144, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 152, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 162, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 174, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 183, ../sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 191, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 199, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 208, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 215, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 219, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 231, ../sass/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 239, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 251, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 263, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 274, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 288, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 300, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 312, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 327, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 337, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 347, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 358, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 371, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 374, ../sass/_normalize.scss */
input:focus {
  outline: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 380, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 390, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 403, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_splash.scss */
#SplashView {
  position: absolute;
  top: 0;
  left: 0;
  width: 810px;
  height: 850px;
  background: #858e99;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1OGU5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2FmYzRkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2EzYjhjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMGQ1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #858e99 0%, #afc4d6 53%, #a3b8c9 55%, #c0d5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #858e99), color-stop(53%, #afc4d6), color-stop(55%, #a3b8c9), color-stop(100%, #c0d5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #858e99 0%, #afc4d6 53%, #a3b8c9 55%, #c0d5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #858e99 0%, #afc4d6 53%, #a3b8c9 55%, #c0d5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #858e99 0%, #afc4d6 53%, #a3b8c9 55%, #c0d5e5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #858e99 0%, #afc4d6 53%, #a3b8c9 55%, #c0d5e5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#858e99', endColorstr='#c0d5e5',GradientType=0 );
  /* IE6-8 */
}
/* line 19, ../sass/_splash.scss */
#SplashView .start-button a {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  bottom: 50px;
  left: 40%;
  display: block;
  width: 150px;
  height: 150px;
  line-height: 155px;
  text-align: center;
  text-decoration: none;
  color: #c1c1c1;
  background: -moz-linear-gradient(top, white 0%, #cccccc);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cccccc));
  border: 2px solid #fafafa;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 6px #323232;
  -moz-box-shadow: 1px 1px 6px #323232;
  box-shadow: 1px 1px 6px #323232;
}
/* line 61, ../sass/_splash.scss */
#SplashView #center-container {
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 67, ../sass/_splash.scss */
#SplashView #center-container img {
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 73, ../sass/_splash.scss */
#SplashView #center-container #title {
  margin: 175px 0 0 182px;
  position: absolute;
  display: block;
}
/* line 79, ../sass/_splash.scss */
#SplashView #center-container #monsterHolder {
  position: absolute;
  display: block;
}

/* line 2, ../sass/_customize.scss */
#CustomizeView {
  width: 810px;
  height: 850px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1OGU5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2FmYzRkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iI2EzYjhjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMGQ1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #858e99 0%, #afc4d6 75%, #a3b8c9 76%, #c0d5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #858e99), color-stop(75%, #afc4d6), color-stop(76%, #a3b8c9), color-stop(100%, #c0d5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #858e99 0%, #afc4d6 75%, #a3b8c9 76%, #c0d5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #858e99 0%, #afc4d6 75%, #a3b8c9 76%, #c0d5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #858e99 0%, #afc4d6 75%, #a3b8c9 76%, #c0d5e5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #858e99 0%, #afc4d6 75%, #a3b8c9 76%, #c0d5e5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#858e99', endColorstr='#c0d5e5',GradientType=0 );
  /* IE6-8 */
  /*========== NEXT BUTTON ============*/
  /*========== PREV BUTTON ============*/
  /*======nav timeline=========*/
  /*------------ CONTENT AREA ----------------*/
}
/* line 14, ../sass/_customize.scss */
#CustomizeView #top-ribbon {
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 999;
  width: 810px;
  height: 68px;
}
/* line 23, ../sass/_customize.scss */
#CustomizeView #instructions-block {
  position: absolute;
  top: 227px;
  left: 64px;
  z-index: 10;
  width: 330px;
}
/* line 31, ../sass/_customize.scss */
#CustomizeView #instructions-block .body-text {
  width: 275px;
  margin: 6px 0 0 0;
}
/* line 36, ../sass/_customize.scss */
#CustomizeView #subpage-container {
  z-index: 100;
}
/* line 42, ../sass/_customize.scss */
#CustomizeView #next-button-hitarea {
  position: absolute;
  width: 100px;
  height: 100px;
  color: #a39da3;
  line-height: 100px;
  text-align: center;
  z-index: 100;
  background: -moz-linear-gradient(top, white 0%, #cccccc);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cccccc));
  border: 2px solid #fafafa;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
  top: 690px;
  left: 365px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 6px #323232;
  -moz-box-shadow: 1px 1px 6px #323232;
  box-shadow: 1px 1px 6px #323232;
}
/* line 80, ../sass/_customize.scss */
#CustomizeView #next-button-hitarea a {
  width: 100px;
  height: 100px;
  display: block;
  color: #a39da3;
  text-decoration: none;
  font-weight: bold;
}
/* line 89, ../sass/_customize.scss */
#CustomizeView #next-button-hitarea a img {
  width: 100px;
  height: 100px;
}
/* line 96, ../sass/_customize.scss */
#CustomizeView #prev-button-hitarea {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 707px;
  left: 275px;
  border-radius: 50%;
  line-height: 75px;
  z-index: 100;
  background: -moz-linear-gradient(top, white 0%, #cccccc);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cccccc));
  border: 2px solid #fafafa;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 6px #323232;
  -moz-box-shadow: 1px 1px 6px #323232;
  box-shadow: 1px 1px 6px #323232;
}
/* line 132, ../sass/_customize.scss */
#CustomizeView #prev-button-hitarea a {
  width: 75px;
  height: 75px;
  display: block;
  text-align: center;
  color: #a39da3;
  text-decoration: none;
  font-weight: bold;
}
/* line 142, ../sass/_customize.scss */
#CustomizeView #prev-button-hitarea a img {
  width: 75px;
  height: 75px;
}
/* line 149, ../sass/_customize.scss */
#CustomizeView #progress-numbers-container {
  position: absolute;
  top: 150px;
  left: 235px;
  width: 400px;
}
/* line 156, ../sass/_customize.scss */
#CustomizeView #progress-numbers-container .timenav {
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 162, ../sass/_customize.scss */
#CustomizeView #monster-canvas-container {
  position: absolute;
  top: 0;
  left: 300px;
  z-index: 2;
  width: 100%;
  height: 100%;
}
/* line 171, ../sass/_customize.scss */
#CustomizeView #color-selector .thumbnails-container {
  position: relative;
  width: 250px;
  height: 200px;
  background: none;
  margin-top: 340px;
  margin-left: 50px;
}
/* line 180, ../sass/_customize.scss */
#CustomizeView #color-selector .thumbnails-container .button-thumbnail {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 4px solid white;
  height: 65px;
  width: 66px;
}
/* line 192, ../sass/_customize.scss */
#CustomizeView #color-selector .thumbnails-container .button-thumbnail a {
  display: block;
}
/* line 196, ../sass/_customize.scss */
#CustomizeView .monster {
  position: absolute;
  z-index: 11;
  width: 475px;
  text-align: center;
}
/* line 203, ../sass/_customize.scss */
#CustomizeView .monster img {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
}
/* line 210, ../sass/_customize.scss */
#CustomizeView .nametxt {
  position: absolute;
  top: 400px;
  left: 350px;
  font-size: 30px;
  color: #4c7ab2;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 236px;
  height: 45px;
  padding-top: 20px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
/* line 231, ../sass/_customize.scss */
#CustomizeView .nametxt:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 18px 30px 18px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -30px;
  top: 19px;
}
/* line 244, ../sass/_customize.scss */
#CustomizeView .numbers {
  position: absolute;
  top: -17px;
  left: 0;
}
/* line 250, ../sass/_customize.scss */
#CustomizeView .numbers .number {
  display: inline-block;
  margin-right: 30px;
  visibility: hidden;
}
/* line 256, ../sass/_customize.scss */
#CustomizeView .numbers .number:last-child {
  margin-right: 0px;
}
/* line 260, ../sass/_customize.scss */
#CustomizeView #background-numbers {
  position: absolute;
  top: 0;
  left: 0;
  width: 810px;
  height: 850px;
}
/* line 268, ../sass/_customize.scss */
#CustomizeView #background-numbers img {
  display: none;
  position: absolute;
  top: 263px;
  right: -32px;
}
/* line 277, ../sass/_customize.scss */
#CustomizeView .content-view {
  position: absolute;
  top: 0px;
  width: 810px;
  height: 830px;
}
/* line 284, ../sass/_customize.scss */
#CustomizeView #content-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 810px;
  height: 100%;
}
/* line 292, ../sass/_customize.scss */
#CustomizeView .button-thumbnail {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 4px solid white;
  height: 65px;
  width: 80px;
}
/* line 304, ../sass/_customize.scss */
#CustomizeView .maskHolder {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 12px;
  overflow: hidden;
  background: url("../images/customize/blueMask.png");
}
/* line 313, ../sass/_customize.scss */
#CustomizeView .maskHolder img {
  display: block;
}
/* line 317, ../sass/_customize.scss */
#CustomizeView .hidden {
  display: none;
}

/* line 1, ../sass/_customizeType.scss */
#CustomizeTypeView {
  width: 810px;
  height: 850px;
  background-color: none;
  /*  end arrow container  */
}
/* line 6, ../sass/_customizeType.scss */
#CustomizeTypeView #arrows-container {
  position: absolute;
  z-index: 12;
  top: 0px;
  left: 0px;
}
/* line 12, ../sass/_customizeType.scss */
#CustomizeTypeView #arrows-container .arrow-selector {
  position: absolute;
  top: 488px;
}
/* line 17, ../sass/_customizeType.scss */
#CustomizeTypeView #arrows-container #left-arrow {
  left: 157px;
}
/* line 21, ../sass/_customizeType.scss */
#CustomizeTypeView #arrows-container #right-arrow {
  left: 604px;
}
/* line 25, ../sass/_customizeType.scss */
#CustomizeTypeView #arrows-container .arrow {
  width: 48px;
  height: 48px;
  position: absolute;
  display: block;
}
/* line 32, ../sass/_customizeType.scss */
#CustomizeTypeView #arrows-container .arrow a {
  display: block;
}
/* line 36, ../sass/_customizeType.scss */
#CustomizeTypeView #arrows-container .arrow img {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 1, ../sass/_customizeColor.scss */
#CustomizeColorView {
  width: 810px;
  height: 850px;
  background-color: none;
}
/* line 6, ../sass/_customizeColor.scss */
#CustomizeColorView .preloader {
  position: absolute;
  top: 421px;
  left: 70px;
  z-index: 21;
}

/* line 1, ../sass/_customizeAccessories.scss */
#CustomizeAccessoriesView {
  width: 810px;
  height: 850px;
  background-color: none;
  /* accessory thumbs */
}
/* line 7, ../sass/_customizeAccessories.scss */
#CustomizeAccessoriesView #accessories-selector {
  position: absolute;
  top: 289px;
  left: 64px;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
}
/* line 16, ../sass/_customizeAccessories.scss */
#CustomizeAccessoriesView #accessories-selector .button-thumbnail {
  position: relative;
  height: 80px;
  margin-bottom: 7px;
  border: 3px solid #ffffff;
  -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.5), inset 0px 0px 1px #ff00d9;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.5), inset 0px 0px 1px #ff00d9;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.5), inset 0px 0px 1px #ff00d9;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.3);
}
/* line 35, ../sass/_customizeAccessories.scss */
#CustomizeAccessoriesView #accessories-selector #accessories-selector #label-buttons-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 255px;
  height: 345px;
  z-index: 21;
}
/* line 44, ../sass/_customizeAccessories.scss */
#CustomizeAccessoriesView #accessories-selector #label-buttons-container {
  display: block;
  width: 350px;
  padding-top: 12px;
}
/* line 50, ../sass/_customizeAccessories.scss */
#CustomizeAccessoriesView #accessories-selector #label-buttons-container .label-button {
  position: relative;
  width: 175px;
  height: 41px;
  text-align: center;
  line-height: 41px;
  margin: 0 0 7px 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffa200;
  padding: 0px 20px;
  background: -moz-linear-gradient(top, white 0%, white 50%, #d6d6d6);
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.5, white), to(#d6d6d6));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 3px white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 3px white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 3px white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px white;
}
/* line 89, ../sass/_customizeAccessories.scss */
#CustomizeAccessoriesView #accessories-selector #label-buttons-container .label-button a {
  color: #2f42bd;
  display: block;
  text-decoration: none;
}
/* line 97, ../sass/_customizeAccessories.scss */
#CustomizeAccessoriesView #accessories-selector #thumbnail-buttons-container {
  display: block;
  width: 285px;
  padding-top: 12px;
}

/*end accessories view*/
/* line 3, ../sass/_customizeName.scss */
#CustomizeNameView .input-field {
  position: relative;
  width: 242px;
  height: 51px;
  border: 0 none;
  background: #4d7db6;
}
/* line 11, ../sass/_customizeName.scss */
#CustomizeNameView #name-selector {
  margin: 30px 0 0 0;
}
/* line 15, ../sass/_customizeName.scss */
#CustomizeNameView #name-selector input {
  position: absolute;
  top: 0px;
  width: 242px;
  height: 51px;
  border: 0 none;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4em;
  font-weight: 700;
  padding: 0 16px;
}
/* line 29, ../sass/_customizeName.scss */
#CustomizeNameView .errorimg {
  position: absolute;
  left: 250px;
  top: 129px;
  display: none;
}
/* line 36, ../sass/_customizeName.scss */
#CustomizeNameView .errorimg.active {
  display: block;
}

/* line 1, ../sass/_preloader.scss */
html, body {
  width: 100%;
  height: 100%;
  min-height: 850px;
  max-height: 1200px;
}

/* line 8, ../sass/_preloader.scss */
#overlay-container {
  width: 100%;
  height: 100%;
  min-height: 850px;
  max-height: 1200px;
  background: url("../images/preloader/bg.jpg") no-repeat;
  z-index: 9999;
}
/* line 16, ../sass/_preloader.scss */
#overlay-container #site-preloader {
  position: absolute;
  width: 810px;
  height: 850px;
}
/* line 21, ../sass/_preloader.scss */
#overlay-container #site-preloader #load-ribbon {
  position: absolute;
  left: 268px;
  top: 400px;
}
/* line 26, ../sass/_preloader.scss */
#overlay-container #site-preloader #load-ribbon img {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}
/* line 32, ../sass/_preloader.scss */
#overlay-container #site-preloader #load-ribbon img:first-child {
  margin-left: 135px;
}

/* line 40, ../sass/_preloader.scss */
#app {
  font-family: 'Noto Sans', sans-serif;
  color: #000000;
  font-size: 0.9em;
  line-height: 1.3em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -405px;
  margin-top: -425px;
  width: 810px;
  height: 850px;
  background: white;
  overflow: hidden;
  z-index: 1;
  -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.78);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.78);
}

/* line 17, ../sass/screen.scss */
html {
  width: 100%;
  height: 100%;
  min-height: 850px;
  max-height: 1200px;
}

/* line 24, ../sass/screen.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 30, ../sass/screen.scss */
body {
  background: #054875;
}

/* line 35, ../sass/screen.scss */
.hidden {
  display: none;
}
