<div id="center-container">
	
	 <div id="instructions-block">
		<div class="header-image selector-block"><img src="images/step4/name.png"></div>
		<div class="body-text selector-block">
			Type your first name and last initial below then use Generate to create your monster name.
	</div>
         <div id="name-selector" class='customize-selector'>

             <div id="name" class='selector-field selector-block'>
                 <img class="errorimg" src="images/step4/form_alert.png">
                 <div class="input-field">
                     <input type="text" maxlength="12" id="first-name-field" name="first-name-field" onfocus="if(this.value == 'NAME') { this.value = ''; }" value="NAME">
                 </div>
             </div>
         </div>
	</div>
</div>