<div id="center-container">
	
	 <div id="instructions-block">
		<div class="header-image selector-block"><img src="images/customize/step1/chooseMonster.png"></div>
		<div class="body-text selector-block">
			Use the blue arrows to see the different monster body types. When you've found a monster you like, click the Next button.
		</div>	
	</div>

	<div id="main-block">
		<div id="monster-selector">
			<div id="monsters-container"></div>
		</div>
	</div>
	<div id="arrows-container">
		<div id="left-arrow" class="arrow-selector">
			<div class="arrow">
				<a href="#">
					<img src="images/customize/step1/arrow_left.png" class="normal">
					<img src="images/customize/step1/arrow_left_over.png" class="over">
				</a>
			</div>
			<!-- <div class="arrow-shadow"><img src="&lt;%img_dir%&gt;/customize/step1/arrow_left_shadow.png"></div> -->
		</div>
		<div id="right-arrow" class="arrow-selector">
			<div class="arrow">
				<a href="#">
					<img src="images/customize/step1/arrow_right.png" class="normal">
					<img src="images/customize/step1/arrow_right_over.png" class="over">
				</a>
			</div>
	<!-- <div class="arrow-shadow"><img src="images/customize/step1/arrow_right_shadow.png"></div>-->		
		</div>
	</div>
</div>

<!-- 

	
 -->