<div id="top-ribbon">
	<a href=""><img src="images/customize/topRibbon.png"></a>
</div>

<div id="progress-numbers-container">
    <img class="timenav" src="images/customize/navTimeline.png">
    <div class="maskHolder">
        <!--<img class="timenav mask" src="images/customize/blueMask.png">-->
    </div>
    <div class='numbers'>
        <div class="number"><img src="images/customize/stepBubble1SS.png"></div>
        <div class="number"><img src="images/customize/stepBubble2SS.png"></div>
        <div class="number"><img src="images/customize/stepBubble3SS.png"></div>
        <div class="number"><img src="images/customize/stepBubble4SS.png"></div>
        <div class="number"><img src="images/customize/stepBubbleDoneSS.png"></div>
    </div>
</div>
<div id="background-overlay">
    <div id="background-numbers">
        <img src='images/customize/01.png'>
        <img src='images/customize/02.png'>
        <img src='images/customize/03.png'>
        <img src='images/customize/04.png'>
        <img src='images/customize/05.png'>
    </div>
</div>
<div id="subpage-container"></div>

<div id="controls-container">
	
	<div id="skip-button">
		<a href="#customize/name">

		</a>
	</div>

	<div id="progress-controls">
		<div id="next-button-hitarea" class="hitarea"><a href="#">NEXT</a></div>
		<div id="prev-button-hitarea" class="hitarea"><a href="#">BACK</a></div>
	</div>
</div>

<div id="monster-canvas-container">
</div>

