<div id="center-container">
    <div id="instructions-block">

        <div class="header-image selector-block"><img src="images/customize/step3/customize.png"></div>

        <div class="body-text selector-block">
            Add accessories to your monster- choose from the options below.
        </div>
    </div>
    <div id="accessories-selector" class="customize-selector">

            <!-- category state -->

            <div id="label-buttons-container">

                <div class="buttons-container">
                    <div id="hair-button" class="label-button"><a href="#" rel="hair">HAIR</a></div>
                    <div id="eyelashes-button" class="label-button"><a href="#" rel="eyelashes">EYELASHES</a></div>
                </div>
            </div>

            <!-- collapsed state -->

            <div id="thumbnail-buttons-container">

                <div class="thumbs-container"></div>

                <div id="back-button">
                    <a href="#">
                        <div class="button-label">BACK TO MENU</div>
                    </a>
                </div>
            </div>
    </div>

</div>