<div id="center-container">
	
	<div id="instructions-block">
		<div class="header-image selector-block"><img src="images/customize/step2/chooseColor.png"></div>
		<div class="body-text selector-block">
            Select what color your monster should be. If you see an "add fur" button, then your monster can even have fur!
		</div>	
	</div>
    <div id="thumbnail-buttons-container">

        <div id="color-selector" class="customize-selector">
            <div class="preloader"><img src="images/customize/step2/preloader.png" /></div>
            <div class="thumbnails-container">

            </div>
        </div>


        </div>
    </div>
</div>